<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title><?=$title;?></title>
        <link href="templates/style.css" rel="stylesheet" type="text/css" />
                <script type="text/javascript">
        <!--
                    function setCookie(c_name,value,exdays) {
                    var exdate=new Date();
                    exdate.setDate(exdate.getDate() + exdays);
                    var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                    document.cookie=c_name + "=" + c_value;
                    }

                    function getCookie(c_name) {
                      var i,x,y,ARRcookies=document.cookie.split(";");
                      for (i=0;i<ARRcookies.length;i++) {
                      x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
                      y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
                        x=x.replace(/^\s+|\s+$/g,"");
                        if (x==c_name) {
                        return unescape(y);
                      }
                      }
                    }
        //-->
        </script>

    </head>

    <body>
        <form enctype="multipart/form-data" action="index.php" method="get">
            <div style="text-align: center; margin-top:5px;">
                <input type="hidden" name="m" value="s">
                <input name="q" type="text" size="80" value="<?=stripslashes($query);?>" /><input type="submit" value="Search" />
            </div>
        </form>

        <?=($session)?'Welcome '.$session['username'].'<br>':'';?>
        <a href="index.php">Home</a><br>

        <?php if (isset($login)) echo $login;?>


        <!--<div class="tagcloud">
            <span style="font-size:6px;">randomtext</span><br>
            <span style="font-size:8px;">randomtext</span><br>
            <span style="font-size:10px;">randomtext</span><br>
            <span style="font-size:12px;">randomtext</span><br>
            <span style="font-size:14px;">randomtext</span><br>
            <span style="font-size:16px;">randomtext</span><br>
            <span style="font-size:18px;">randomtext</span><br>
            <span style="font-size:20px;">randomtext</span><br>
            <span style="font-size:22px;">randomtext</span><br>
        </div>-->
        <?php if (isset($tagCloud)) echo $tagCloud;?>

        <?=$body;?>
        <?php if (isset($upload)) echo $upload;?>
    </body>
</html>
