<center>
    <table>
        <tr>
            <td style="border-right: 1px solid #bfab00;">
                <form enctype="multipart/form-data" action="index.php?m=a" method="post">
                    <table class="tablebg" width="100%" cellspacing="1">
                        <tr><td colspan="2">Log in</td></tr>
                        <tr>
                            <td class="row1" width="30%"><label>Username:</label></td>
                            <td class="row2" width="70%"><input name="username" id="user" type="input" /></td>
                        </tr>

                        <tr>
                            <td class="row1" width="30%"><label>Password:</label></td>
                            <td class="row2" width="70%"><input name="password" id="pass" type="password" /></td>
                        </tr>

                    </table>
                    <div style="text-align: center; margin-top:5px;">
                        <input type="hidden" name="a" value="login" />
                        <br /><br /><input type="submit" value="Log in" name="login" />
                    </div>
                </form>
            </td>
            <td>
                <form enctype="multipart/form-data" action="index.php?m=a" method="post">
                    <table class="tablebg" width="100%" cellspacing="1">
                        <tr><td colspan="2">Register</td></tr>
                        <tr>
                            <td class="row1" width="30%"><label>Username:</label></td>
                            <td class="row2" width="70%"><input name="username" id="user" type="input" /></td>
                        </tr>

                        <tr>
                            <td class="row1" width="30%"><label>Password:</label></td>
                            <td class="row2" width="70%"><input name="password" id="pass" type="password" /></td>
                        </tr>

                    </table>
                    <div style="text-align: center; margin-top:5px;">
                        <input type="hidden" name="a" value="register" />
                        <br /><br /><input type="submit" value="Register" name="register" />
                    </div>
                </form>
            </td>
        </tr>
    </table>
</center>